.button {
    --border-radius: 25px;
    font-weight: 600;
    margin: 0.5rem 0;
    --padding-end: 6px;
}

.button-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px;
    --padding-end: 0px;
}

.button-text {
    flex: 1;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}

.button-icon {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary);
    border-radius: 25px;
    flex-shrink: 0;
}