.home-grid {
  padding: 16px;
  min-height: 100%;
}

.home-card {
  min-height: 140px;
  position: relative;
  margin-top: 6px;
  border-radius: 25px;
  cursor: pointer;
  border: 2px outset var(--ion-color-secondary-shade) !important;
}

.card-icon-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 42px;
  background: var(--ion-color-secondary-shade);
  border-radius: 0px 0px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__home--icon {
  color: var(--ion-color-primary);
}

.card-title {
  text-align: start !important;
  font-size: 16px !important;
  margin-top: 38px;
  font-weight: 400;
}

.card-description {
  text-align: start !important;
  font-size: 14px !important;
  line-height: 1.2 !important;
}