.home-grid {
  padding: 24px 16px;
  min-height: 100%;
}

.home-card {
  min-height: 160px;
  position: relative;
  margin-top: 12px;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid var(--ion-color-secondary-shade) !important;
}

.card-icon-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 48px;
  background: var(--ion-color-secondary-shade);
  border-radius: 0px 0px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__home--icon {
  color: var(--ion-color-primary);
}

.card-title {
  text-align: center !important;
  font-size: 20px !important;
  font-weight: 500 !important; 
  margin-top: 52px;
}

.card-description {
  text-align: center !important;
  font-size: 14px !important;
  line-height: 1.2 !important;
}