.header {
  background-color: var(--ion-color-secondary);
  padding: 8px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img::part(image) {
  width: 90px;
  padding: 12px;
}