.header {
  background-color: var(--ion-color-secondary);
  padding: 20px 20px 0px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img::part(image) {
  width: 90px;
  padding: 12px;
}

.header-logo-wrapper {
  background: transparent;
  cursor: pointer;
}