.page-heading {
    margin-bottom: 16px;
    padding: 0 20px;
    text-align: center;
}


.page-heading-title {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 1rem;
  max-width: 100%;
  word-wrap: break-word;
  color: var(--ion-color-secondary);
  text-align: start;
}


.hero-icon-wrapper {
  display: inline-flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 6px;
  width: 80px;
  height: 160px !important;
  background: var(--ion-color-secondary);
  border-radius: 0px 0px 25px 25px;
  color: var(--ion-background-color);
  margin-bottom: 6px;
  animation: fadeInScale 0.8s ease-out;
  border: 3px solid var(--ion-color-secondary-shade);
}